---
layout: default
title: Shau-Ru
---

<!-- Content
    ================================================== -->



<div class="container">
	<div class="hero">
		<div class="hero_logo"> Shau-Ru </div>
		<div class="hero_byline">Marketer</div>
	</div>
	<main>
		<div class="tab-menu">
			<a href="/index.html"><div class="tab-menu_item is-selected">Projects</div></a>
			<a href="/about.html"><div class="tab-menu_item">About</div></a>
		</div>

		<div class="content">
			{% for post in site.posts %}
			<a href="{{ post.url }}">
				<div class="card">
					<div class="card_image"></div>
					<div class="card_info">
						<div class="card_title">{{ post.title }}</div>
						<div class="card_slug">{{ post.slug }}</div>
						<div class="card_tags">{% for tag in post.tags %}{{tag}} {% endfor %}</div>
					</div>
				</div>
			</a>
			{% endfor %}
		</div>
	</main>
</div>