/* HERO
================================================== */


.hero {
	padding: 150px 0;
}

.hero_title {
	width:174px;
	height:48px;
	margin:0 auto;
	background-image: url("../imgs/logo@2x.png");
	background-size: 100%;
	background-repeat: no-repeat;
	font-size: 40px;
	text-indent: -99999px;
}

.hero_byline {
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	color: $gray;
}